#profile-card {
    border: 2px solid #fdfdfd;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        'avatar username'
        'avatar point';

    height: 60px;
    max-width: 212px;
    padding: 0 10px;
}

#profile-card img {
    grid-area: avatar;
    width: 100%;
    border-radius: 50%;

    width: 50px;
    height: 50px;
    margin-left: 5px;
}

#profile-card .username {
    display: flex;
    justify-content: space-between;
    grid-area: username;
    align-items: center;
    font-weight: bold;

    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
}

#profile-card .level {
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 50%;
    border: 2px solid #c23866;

    margin-right: 5px;
    font-size: 12px;
    line-height: 14px;
    height: 20px;
    width: 20px;
}

#profile-card .point {
    position: relative;
    grid-area: point;
}

#profile-card .point label {
    position: absolute;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 12px;

    justify-self: start;
    font-weight: bold;
    font-size: 12px;
}

#profile-card .point label span {
    color: rgb(150, 255, 52);
}

#profile-card .point input {
    margin-left: -5px;
}

/* Mobile responsive */
@media only screen and (max-width: 600px) {
}
