#profile-card {
    border: 2px solid #fdfdfd;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 80px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    'avatar username'
    'avatar point';
}

#profile-card img {
    grid-area: avatar;
    width: 60px;
    margin: 10px;
    border-radius: 50%;
}

#profile-card .username {
    margin-top: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    grid-area: username;
    justify-self: start;
    font-weight: bold;
    font-size: 25px;
}

#profile-card .level {
    background-color: rgba(255, 255, 255, 0.26);
    margin-top: 5px;
    margin-right: 15px;
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #c23866;
}
#profile-card .point {
    position: relative;
    grid-area: point;
    justify-self: start;
}
#profile-card .point label {
    display: block;
    margin-left: 5px;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
}

#profile-card .point label span {
     color: rgb(150, 255, 52);
}
