#board-container {
    margin: 10px;
    max-height: 310px;
    text-align: start;
    overflow: auto;
    position: relative;
}
.board-list {
    font-size: 20px;
    font-weight: bold;
}

.button-group {
    display: flex;
    position: sticky;
    font-size: 14px;
    top: 0;
}
.button-group button {
    font-weight: bold;
    font-size: 14px;
    background: #fff;
    margin: 0 5px;
    border: none;
    border-bottom: 2px solid red;
}
.board-list ul {
    list-style: none;
}