.level-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 50%;
  margin: 50px auto;
}


.level-card img {
    width: 50%;
    border-radius: 6px;
}

.level-card h5 {
    margin: 0 !important;
}