@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5em;
    text-align: center;
    background: url('./assets/background-shadow.jpeg');
    color: #fff;
}

button {
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
}

footer {
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: -40px;
}

a,
a:link,
a:visited {
    background-color: none;
    color: #fff;
    text-decoration: none;
}
